:root[data-theme="light"] {
  --wallpaper: linear-gradient(to right, #75fdab, #fac956, #fc4047);

  --background-color: #ffffff;
  --background-secondary: #ece9de;
  --background-border: #b8a87f;

  --text-color: #3c3836;
  --text-secondary: #504945;
  --text-tertiary: #7c6f64;

  --accent: #f4976c;
  --accent-color: #f4976c;
  --accent-bg: #d45b22;
  --accent-fg: #ffceb7;

  --accent-input-bg: #cdeac050;
  --accent-input-fg: #3a4237;

  --red: #f12a23;
  --red-bg: #f88784;
  --red-fg: #801c1c;
  --red-hover-bg: #ff8480;
  --red-hover-fg: #4d1c1c;

  --green: #1dd159;
  --green-bg: #8bffa88a;
  --green-fg: #0e502b;
  --green-hover-bg: #53f589;
  --green-hover-fg: #093518;

  --gradient-light: linear-gradient(135deg, #ffffff 0%, #ffefe2 100%);
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  --border-color: #d1d5db;
  --error-bg: #fed7d7;
  --error-fg: #9b2c2c;

  --border-radius: 0.4rem;
  --border-radius-small: 0.2rem;
}

:root[data-theme="dark"] {
  --wallpaper: linear-gradient(to right, #200122, #6f0000);

  --background-color: #292929;
  --background-secondary: #282828;
  --background-border: #665c54;

  --text-color: #efe9ae;
  --text-secondary: #d5c4a1;
  --text-tertiary: #bdae93;

  --accent: #f4976c;
  --accent-color: #f4976c;
  --accent-bg: #e97e4d;
  --accent-fg: #180a04;

  --accent-input-bg: #cdeac02d;
  --accent-input-fg: #cdeac0;

  --inactive-bg: #bea7a7;
  --inactive-fg: #131010;

  --red: #fb4934;
  --red-bg: #6d352e;
  --red-fg: #ff9d9d;
  --red-hover-bg: #79251c;
  --red-hover-fg: #282828;

  --green: #14e47c;
  --green-bg: #00ff6a5b;
  --green-fg: #69ff9b;
  --green-hover-bg: #185732;
  --green-hover-fg: #deffe7;

  --gradient-light: linear-gradient(135deg, #493b3b 0%, #241111 100%);
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  --border-color: #3f3f3f;
  --error-bg: #662222;
  --error-fg: #ffb4b4;

  --border-radius: 0.4rem;
  --border-radius-small: 0.2rem;
}
